<% local ver = require "luci.version" %>
<% local short_version = ver.distversion:match("^(%S+ %S+)") %>
</div>
<footer class="mobile-hide">
        <div>
                <a class="luci-link" href="https://github.com/openwrt/luci" target="_blank">Powered by <%= ver.luciname %> </a> /
                                                <%= short_version %>
                <ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
        </div>
</footer>
</div>
</div>
<script>
        var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
        var winHeight = $(window).height();
        $(window).resize(function () {
                var winWidth = $(window).width()
                if(winWidth < 600){
                        var newHeight = $(this).height();
                        var keyboradHeight = newHeight - winHeight;
                        $(".ftc").css("bottom", keyboradHeight + 30);
                }
        })
</script>
<script type="text/javascript">L.require('menu-argon')</script>
</body>
</html>

